<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-shadow: 2px 2px grey;
            text-decoration: none;
            font-size: 40px;
           
            }
        div{
            text-align: center;
            margin-top: 200px;
            padding-left: 50px;
        }   
        button{
            margin-left: 50px;
        }
     
    </style>
</head>
<body>
    <div>
     <button><a href="log">Login</a></button>
     <button><a href="reg">Registration</a></button>
    </div>

</body>
</html>